/* 
    Document   : chat
    Created on : Apr 27, 2013, 1:18:16 PM
    Author     : Labazin
    Description:
        Purpose of the stylesheet follows.
*/

.MessageDate {
    color: activeborder;
}

.MessageNick {
    color: cornflowerblue;
}

.MessageText {
    color: navy;
}

.chatFormClass .ui-button-text {
    margin: 0px !important;
    font-size: 10pt !important;
}

.ToolBarClass .ui-button-text {
    padding-top: 4px !important;
    padding-right: 15px !important;
    padding-bottom: 4px !important;
}

.NorthToolBar .ui-toolbar,
.NorthToolBar .ui-layout-unit .ui-layout-unit-content {
    padding: 2px !important;
    overflow: hidden !important;
}

.ViewOptionsText {
    float: left !important;
    margin-right: 8px !important;
}

.SendMessageButton {
    float: right;
    margin-bottom: 5px !important;
    margin-right: 65px !important;
}

.ChatInput {
    width: 99% !important;
}