/* 
    Document   : profile
    Created on : Apr 29, 2013, 6:33:12 AM
    Author     : Labazin
    Description:
        Purpose of the stylesheet follows.
*/

.toolBarClass {
    margin-bottom: 10px !important;
}

.toolBarClass .ui-button-text {
    padding-top: 4px !important;
    padding-right: 15px !important;
    padding-bottom: 4px !important;
    margin: 0px !important;
    font-size: 10pt !important;
}

.Header {
    font-size: 20pt;
    font-weight: bold;
}

.FieldSet {
    margin-top: 15px !important;
}