<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>#{loginText['title']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet library="default_theme" name="css/login.css" />
</h:head>
<h:body>
    <h:form id="login" 
            onsubmit="document.getElementById('login').action='j_security_check';"
            prependId="false">
        <p:dialog id="loginDialog"
                  header="#{loginText['dialog.title']}"
                  modal="true"
                  height="120"
                  resizable="false"
                  draggable="false"
                  closable="false"
                  position="center"
                  visible="true">
            <h:panelGrid columns="2">

                <p:outputLabel value="#{loginText['dialog.form.nick']}:" />
                <input id="nick"
                       name="j_username"
                       required="true"/>
                
                <p:outputLabel value="#{loginText['dialog.form.password']}:" />
                <input id="password"
                       type="password"
                       name="j_password"
                       required="true"/>
                
                <h:outputText value=""/>
                <h:link id="registrate"
                        value="#{loginText['dialog.form.registration']}" 
                        outcome="registration"
                        style="float:right;"/>
                
            </h:panelGrid>
            <f:facet name="footer">
                <p:commandButton id="submit" 
                                 value="#{loginText['dialog.form.login']}" 
                                 ajax="false"
                                 style="float:right; margin-bottom: 5px;"
                                 icon="ui-icon-unlocked"/>
                </f:facet>
        </p:dialog>
    </h:form>
</h:body>
</html>
